<!-- latest-blogs.html -->
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title section-title">Latest Blogs</h2>
        
        <!-- Blog Post 1 -->
        <a href="path/to/your/latest-blog1.html" class="text-decoration-none text-dark">
            <div class="card mb-3">
                <img src="path/to/image3.jpg" class="card-img-top" alt="Exploring Batanes">
                <div class="card-body">
                    <h5 class="card-title">Exploring Batanes</h5>
                    <p class="card-text">Join us on an adventure through the stunning landscapes and rich culture of Batanes.</p>
                </div>
            </div>
        </a>
        
        <!-- Blog Post 2 -->
        <a href="path/to/your/latest-blog2.html" class="text-decoration-none text-dark">
            <div class="card mb-3">
                <img src="path/to/image4.jpg" class="card-img-top" alt="Cultural Experience in Bali">
                <div class="card-body">
                    <h5 class="card-title">Masskara Festival in Bacolod</h5>
                    <p class="card-text">Immerse yourself in the vibrant culture and beautiful smiles of BacoleNos.</p>
                </div>
            </div>
        </a>

    </div>
</div>

